@{
    ViewData["Title"] = "Entertainer List";
}

@model List<Entertainer>

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <h1 class="display-5 fw-bolder text-white mb-2 text-center">Entertainer List</h1>
        </div>
    </div>
</header>

<ul class="list-group">
    @foreach (var e in Model)
    {

        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            @e.EntStageName
            <span class="badge badge-primary badge-pill"><a asp-controller="Home" asp-action="Detail" asp-route-entid="@e.EntertainerID">Details</a></span>
        </li>
        @*<div class="card card-outline-primary m-1 p-1 col" style="padding-bottom:10px">
            <div class="bg-light p-1">
                <h3>@e.EntStageName</h3>
            </div>

            <div class="card-text p-1">
                <a asp-controller="Home" asp-action="Detail" asp-route-entid="@e.EntertainerID">Details</a>
            </div>
        </div>*@


    }

</ul>
<br />
<div class="container text-center">
    <a class="btn btn-primary" asp-controller="Home" asp-action="AddEntertainer">Add Entertainer</a>
</div>
